node_modules/
.env
*.log
.DS_Store
*.sqlite
*.db

service-account.json
*.json
# Google Service Account (Play Integrity)
GOOGLE_SERVICE_ACCOUNT_KEY=./service-account.json
!package.json
!package-lock.json